@{
    ViewData["Title"] = "Universities";
}

<!-- Universitys.html -->
<div ng-controller="UniversityController">
    <input id="" type="text" ng-model="filter" placeholder="Filter Universities" />
    <button type="button" ng-click="scopeModel.getFilteredUniversitys(filter)">Filter</button>
    <button type="button" ng-click="scopeModel.addUniversity()">Add University</button>

    <!-- University Table -->
    <table class="table">
        <thead>
            <tr>
                <th>University ID</th>
                <th>University Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="University in scopeModel.displayedUniversitys" ng-click="scopeModel.onUniversityRowClick(University)">
                <td>{{ University.Id }}</td>
                <td>{{ University.Name }}</td>
                <td>
                    <button type="button" ng-click="scopeModel.editUniversity(University)">Edit</button>
                </td>
            </tr>
            <tr ng-repeat-end   ng-show="scopeModel.showDepartmentGrid[University.Id]">
                <td colspan="3" >
                    <department-grid  ng-if="scopeModel.showDepartmentGrid[University.Id]" on-ready="scopeModel.onDepartmentGridReady"></department-grid>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <style>
        .disabled-li {
            opacity: 0.5;
            pointer-events: none;
        }

        ul.pagination li a.active-page {
            background-color: #00bdf5 !important;
            color: white !important;
        }
    </style>

    <ul class="pagination">
        <li ng-class="{ 'disabled-li': scopeModel.currentPage <= 1 }">
            <a href="#" ng-click="scopeModel.setPage(scopeModel.pages[scopeModel.currentPage - 2])" aria-label="Previous">
                <span aria-hidden="true">&laquo; Prev</span>
            </a>
        </li>
        <li ng-repeat="page in scopeModel.pages">
            <a href="#" ng-click="scopeModel.setPage(page)" ng-class="{ 'active-page': page.title === scopeModel.currentPage }">{{ page.title }}</a>
        </li>
        <li ng-class="{ 'disabled-li': scopeModel.currentPage >= scopeModel.pages.length }">
            <a href="#" ng-click="scopeModel.setPage(scopeModel.pages[scopeModel.currentPage])" aria-label="Next">
                <span aria-hidden="true">Next &raquo;</span>
            </a>
        </li>
    </ul>


</div>
